@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Karla:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1f2a;
    background: url("./assets/background-complete.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
:focus{
    outline: 4px solid #4D5B9E;
}
img {
    width: 100%;
}

.app {
    width: 600px;
    min-height: 550px;
    margin: auto;
    background-color: #F5F7FB;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash h1 {
    font-family: "Karla";
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #293264;
}

.splash p {
    letter-spacing: .1em;
    margin-bottom: 2em;
}

button {
    border: none;
    background-color: #4D5B9E;
    border-radius: .25rem;
    color: white;
    font-weight: 500;
    font-family: 'Inter';
    cursor: pointer;
}

.splash button {
    padding: 1em 1.8em;

}

.splash button:active {
    box-shadow: inset 2px 2px 4px #2c2c2c;
}
.setup-options{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,3em) 5em;
    gap: 1em;
}
.setup-options label{
    font-size: 1.4rem;
}
.setup-options select{
    border: 2px solid #293264;
    border-radius: .4em;
    padding: .5em;
    grid-column: 2;
    font-family: "Karla";
    font-size: 1em;
}
.setup-options option{
    font-family: "Karla";
    font-size: 1em;
}
.setup-options button{
    grid-column: 1/-1;
    align-self: end;
    justify-self: center;
    padding: 1em 2em;
    transition: all  200ms ;
    
}
.setup-options button:hover,
.setup-options button:focus{
    transform: scale(1.2);
}